.loginform{
	padding-top:50px;
	padding-bottom: 50px;
}
.loginform h1{
	margin-bottom: 50px;
}
.loginform .btn{
	margin-top: 40px;
}
.loginform .alert{
	margin-bottom: 50px;
}
.dashboard main{
	padding-top: 50px;
	padding-bottom: 100px;
	padding-left: 30px;
	padding-right: 30px;
	min-height: 100vh;
	background: #f7f7f7;
}
.dashboard main h3{
	margin-bottom: 30px;
}
#sidebarMenu{
	background: #2a2a2a;
	padding-top: 30px;
}
.sidebar-sticky a{
	color: white
}
#sidebarMenu path{
    fill: white;

}
#sidebarMenu svg{
	margin-right: 10px;
}
#sidebarMenu .nav li{
	margin-bottom: 11px;
}
.dashboard .btn3, .dashboard .btn3:hover{
	margin-left: 10px;
	color: white;
}